@font-face {
    font-family: "Cattie";
    src: url(fonts/Cattie\ Regular.ttf);
}

body {
    background-color: mistyrose;
    padding: 15px;
}

.title {
    font-family: "Cattie";
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    color: rgb(206, 45, 99);
    margin: 5px 20px 0px 0px;
}

.button {
    cursor: pointer;
    padding: 3px 13px;
    display: inline-block;
    text-align: center;
    
    font-family: "Cute Font", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    background-color: ivory;
    color: palevioletred;
      
    /* margin: 10px; */
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 17px;
    border: none
}

.label {
    font-family: "Cute Font", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    padding-right: 10px;
}

.placeholder {
    font-family: "Gaegu", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    border: 1.5px dotted;
    border-radius: 10px;
    padding-left: 10px;
}

.container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.copy-icon {
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 22px;
    height: 22px;
}

#paw {
    width: 90px;
    height: 90px;
}

#rainbow-cat {
    padding: 0px;
    margin: 0px
}

#black-cat {
    /* transform: rotate(270deg); */
    margin: -160px 0px -35px 95px;
}